page-discover {

    ion-spinner {
        display: block;
        margin: auto;
        height: 100%;
      }

    .button-row{
        text-align: center;
        align-content: center;
    }
    .button-row button{
        display: inline-block;
        height: 70px;
        width: 70px;
        border-radius: 50%;
        border: 1px solid;
        font-size: 2em;
    }   

    ion-card {
        position: relative;
        text-align: center;
    }

    .card-overlay {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        font-weight: bold;
    }

    ion-grid{
        height: 100%;
    }

    #viewport {
        width: 100%;
        height: 80%;
        position: relative; }
    #viewport .stack {
        width: 100%;
        height: 100%;
        margin-top: 10%;
        margin-bottom: 10%;
        position: relative;}
    #viewport ion-card {
        margin-top: 0;
        position: absolute;
        top: 0;
        left: 0;
        text-align: center;
        box-sizing: border-box;
        cursor: default; }
        
        #viewport ion-card .in-deck:nth-child(3) {
        top: 2px;
        transform: translate(2px, 2px) rotate(0.4deg); }

        #viewport ion-card .in-deck:nth-child(2) {
        top: 4px;
        transform: translate(-4px, -2px) rotate(-1deg); }
      
}
